<!DOCTYPE html>
 <html>
   <head>
     <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
   </head>
   <body>
<h3>Summary for today!!!!</h3>
<p>New Item and New users!! was Added</p>